.toc-nav {
  position: -webkit-sticky!important;
  position: sticky!important;
  top: 6rem;
  overflow-y: auto;

  -ms-flex-order: 2;
  order: 2;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-size: .875rem;
}

.toc-nav ul {
  list-style: none;
  margin-left: 1rem;
  padding-left: 0;
}

.toc-nav li, .toc-nav ul {
  width: 100%;
}

.toc-nav .nav-item, .toc-nav .nav-link {
  font-size: .8rem;
  font-weight: 400;
  line-height: 1.1rem;
  padding: 0 5px;
  margin-top: 3px;
  margin-bottom: 3px;
  color: #666;
  -webkit-border-radius: 0;
  border-radius: 0;
}

.toc-nav a.nav-link:hover {
  background-color: transparent;
  border-left: .025rem solid #38849e;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #38849e;
}

.toc-nav a.nav-link.active, .toc-nav a.nav-link:active {
  background-color: transparent;
  color: black;
  border-left: .125rem solid #38849e;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-weight: 500;
}
